body {
  padding: 20px 50px 150px;
  font-size: 13px;
  text-align: center;
  background: #ff80ff;

}

ul {
  text-align: left;

  margin: 0;
  padding: 15px 4px 17px 0;
  list-style: none;
}
ul li {
  display: inline-block;
  margin-right: -4px;
  position: relative;
  padding: 15px 20px;
  background: #47d147;
  border-style: solid;
  border-width:thin;
  height: 15px;
  width: 100px;
}
ul li:hover {
  background: #ccccff;
  color: #ffff;
}
ul li:hover ul {
  display: block;
  opacity: 1;
  visibility: visible;
}
